#include <windows.h>

IDI_ICON1	ICON	DISCARDABLE	"E:\\AlphaMiniTool\\controls\\src\\controlrobots\\res\\wukong.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 2,0,1,0
	PRODUCTVERSION 2,0,1,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "000404b0"
			BEGIN
				VALUE "CompanyName", "UBTECH\0"
				VALUE "FileDescription", "\0"
				VALUE "FileVersion", "2.0.1.0\0"
				VALUE "LegalCopyright", "Copyright 2012-2019 UBTECH Robotics, Inc. All rights reserved.\0"
				VALUE "OriginalFilename", "controlrobotsd.exe\0"
				VALUE "ProductName", "Control Robots\0"
				VALUE "ProductVersion", "2.0.1.0\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0004, 1200
		END
	END
/* End of Version info */

