/****************** mp3proj模块 ****************/

/************ popup menu begin ************/

QMenu
{
    background-color:#ffffff;
    color:#000000;
}

QMenu::item:selected
{
    background-color:#e0ffff;
}

QMenu::item:!enabled
{
    color:grey;
}

/************ popup menu end ************/


